.container {
  --w: 1350px;
  --h: 450px;
  --margin-normal: 25px;
  --text-margin: 4px;
  --pfp-side: 350px;
  font-size: 60px;
  max-width: var(--w) !important;
  width: var(--w);
  height: var(--h);
  position: relative;
}

.background {
  position: absolute;
  width: var(--w);
  height: var(--h);
  top: 0;
  left: 0;
}

.titlebar {
  position: absolute;
  width: calc(100% - 2 * var(--margin-normal));
  height: 60px;
}

.pfp-bg {
  position: absolute;
  width: var(--pfp-side);
  height: var(--pfp-side);
  border-radius: 50%;
  box-sizing: content-box;
}

.pfp {
  min-width: 100%;
  min-height: 100%;
}

.levels {
  position: absolute;
  width: calc(var(--w) - var(--pfp-side) - 2 * var(--margin-normal));
  height: calc(var(--pfp-side) - 2 * var(--margin-normal));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.xp {
  position: absolute;
  border-radius: 35px;
  margin: var(--margin-normal);
  height: calc(50% - 1.5 * var(--margin-normal));
  border: 0;
}

.xp-main {
  left: var(--margin-normal);
  top: var(--margin-normal);
  width: calc(100% - 2 * var(--margin-normal));
}

.xp-hybrid {
  left: var(--margin-normal);
  top: calc((var(--pfp-side) - var(--margin-normal)) / 2);
  width: calc(50% - 1.5 * var(--margin-normal));
}

.xp-hybrid.shift-right {
  left: initial;
  right: calc(-1 * var(--margin-normal));
}

.relcontainer {
  height: 100%;
  width: 100%;
  position: relative;
}

/*Labels*/
p {
  margin-bottom: 0;
  line-height: 100%;
}

.title-level, .title-username {
  position: absolute;
  left: var(--text-margin);
  right: var(--text-margin);
  top: var(--text-margin);
  bottom: var(--text-margin);
}
.title-username {
  text-align: right;
}

.label-sm {
  font-size: 0.25em;
}

.label-md {
  font-size: 0.75em;
}

.label-lg {
  font-size: 1em;
}
