* {
  --base-size: 1.25em;
  --primary-color: hsl(207, 100%, 50%);
}

h2 {
  color:hsl(207, 100%, 70%);
  font-size: calc(1.5 * var(--base-size));
}

h3 {
  color:hsl(207, 100%, 85%);
  font-size: calc(1.2 * var(--base-size));
}

/*LOGIN WARN*/

.must-login-container {
  width: 50%;
  padding: 1em;
  margin-top: 24px;
  background-color: #ff444460;
  border: #ff4444ff 3px ridge;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.must-login-container h1 {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.must-login-container mat-icon {
  transform: scale(1.5);
  color: hsl(0, 100%, 75%);
}

.must-login-container p {
  color: white;
  font-size: var(--base-size);
}

/*FORM*/

.form-color-header th {
  height: 2em;
  color:hsl(207, 100%, 85%);
  text-align: center;
  font-weight: bold;
}

.form-item-container td, .form-color-header th:first-child {
  height: 2em;
  text-align: right;
}

.form-color-table, .form-toggle-table {
  font-size: var(--base-size);
}

.form-color-table * td, th {
  padding: 0 10px;
}

input[type="range"] {
  background-color: var(--primary-color);
  inset: 0 0 0 0;
  border-radius: 3px;
}

input[type="range"]:hover {
  cursor: grab
}

input[type="range"]:active {
  cursor: grabbing
}

.color-picker, .color-picker-header {
  width: 8em;
}

.alpha-slider, .alpha-slider-header {
  width: 8em;
}

.argb-display-header {
  width: 6.5em ! important;
}

.separator {
  margin: 1em 0;
  background-color: #555;
  width: calc(50% + 4rem);
}

.switch-holder {
  height: 2em;
}

/*Numerical Slider Range Fields*/

.slider-field {
  font-size: var(--base-size);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-field > * {
  margin-right: 0.5em;
  min-width: 2.5em;
}

.slider-field > mat-slider {
  width: 10em;
}

/*Offset Editors*/

.offset-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}

/*Background Selector*/

.bg-tab-group {
  width: 100%;
  max-width: 600px;
}

.background-option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  border-radius: 1em;
  transition: background-color .2s;
}

.vertical-separator {
  width: 1px;
  background-color: #555;
  margin: 0 1em;
}

.droptarget {
  border: var(--primary-color) 2px dashed;
  border-radius: 1em;
  width: calc(100% - 2em);
  padding: 1.5em 0;
  margin-bottom: 12px;
  cursor: pointer;
}

.file-chooser {
  display: none;
}

.file-chooser-label {
  cursor: pointer;
}

.file-chooser-icon {
  margin-top: -5px;
}

.upload-img-button {
  padding: 3px 10px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 1em;
  font-size: 1.25em;
}

.color-chooser {
  margin-top: 10px;
}

.combo-box {
  font-size: var(--base-size);
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.color-preview {
  width: calc(100% - 24px);
  height: 400px;
  margin: 12px;
}

.img-preview {
  width: 100%;
  padding: 12px;
}

/*Rankcard Preview*/

.rankcard-preview {
  --unit: 1px;
  --preview-width: 350;
  --rankcard-width: 1350;
  --rankcard-height: 450;
  --rankcard-aspect: calc(var(--rankcard-width) / var(--rankcard-height));
  --preview-height: calc(var(--preview-width) / var(--rankcard-aspect));
  --scale: calc(var(--preview-width) / var(--rankcard-width));
  height: calc(var(--preview-height) * var(--unit));
  transform: scale(var(--scale))
    translateY(calc((var(--rankcard-height) - var(--preview-height)) * -0.5 * var(--unit)));
}

@media (min-width: 576px){
  .bg-tab-group {
    width: 100%;
  }
  .rankcard-preview {
    --preview-width: 450;
  }
}
@media (min-width: 768px){
  .bg-tab-group {
    width: 90%;
  }
  .rankcard-preview {
    --preview-width: 500;
  }
}
@media (min-width: 992px){
  .bg-tab-group {
    width: 90%;
  }
  .rankcard-preview {
    --preview-width: 600;
  }
}
@media (min-width: 1200px) {
  .bg-tab-group {
    width: 75%;
  }
  .rankcard-preview {
    --preview-width: 700;
  }
}

/*Submit*/
.submit-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 0;
}

.submit-button {
  background-color: var(--primary-color);
}

.submit-label {
  font-size: var(--base-size);
  margin-top: 5px;
}

.label-critical {
  color: hsl(0, 90%, 70%);
}
