<div class="numbers-input">
  <mat-form-field>
    <mat-label>X</mat-label>
    <input matInput type="number" [value]="offset.x" (change)="setOffsetX($event)">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Y</mat-label>
    <input matInput type="number" [value]="offset.y" (change)="setOffsetY($event)">
  </mat-form-field>
  <div class="settings-btn">
    <button mat-mini-fab aria-label="Offset editor settings" (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>
<br>
<div #area class="offset-editor-body" [ngStyle]="{'min-width': settings.scale.value*areaSize.x+'px', 'min-height':settings.scale.value*areaSize.y+'px'}">
  <div #box class="offset-box" [ngStyle]="{'min-width': settings.scale.value*boxSize.x+'px', 'min-height': settings.scale.value*boxSize.y+'px', left: settings.scale.value*offset.x+'px', top: settings.scale.value*offset.y+'px'}"
    (mousedown)="mouseDown($event)"
  ></div>
</div>
