<mat-form-field color="accent">
    <mat-select [formControl]="multiCtrl" placeholder="{{ placeholderKey | translate }}" [multiple]="true" #multiSelect>
        <mat-option>
            <ngx-mat-select-search [noEntriesFoundLabel]="notFoundSearchKey | translate" [placeholderLabel]="placeholderSearchKey | translate" [formControl]="multiFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let element of filteredElements | async" [value]="idPredicate(element)">
            {{ displayPredicate(element) }}
        </mat-option>
        <button mat-button type="submit" class="more" (click)="increaseFilter()" *ngIf="hasMoreToLoad">
          <mat-icon>expand_more</mat-icon>&nbsp;Load More
        </button>
    </mat-select>
</mat-form-field>