<div class="card-container">
    <div class="card-container-body d-flex flex-row flex-wrap flex-shrink-0 flex-grow-1 align-items-center">
        <!-- Loading -->
        <mat-spinner *ngIf="this.guild?.loading" [diameter]="64" class="me-1"></mat-spinner>
        <span class="mat-h1 fw-bold mb-0 waiting-for-text" *ngIf="this.guild?.loading" style="width: 300px;"></span>
        <!-- Content -->
        <app-guild-icon [guild]="guild.content" [width]="'64px'" [height]="'64px'" [darkBorder]="true" class="me-2"></app-guild-icon>
        <span class="mat-h1 fw-bold mb-0" *ngIf="this.guild?.content && !this.guild?.loading">
            {{ this.guild.content?.name }}
        </span>
        <div class="flex-grow-1"></div>
        <a routerLink="/guilds/{{ this.guild.content?.id }}" class="p-2" mat-raised-button color="primary">
            {{ 'GuildInfoCard.BackToGuild' | translate }}
        </a>
        <!-- Not loaded -->
        <span *ngIf="!this.guild?.loading && !this.guild?.content">Failed to load guild info.</span>
    </div>
</div>

<div style="height: 50px;" class="dp-on-big-screen"></div>

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-left cw-75-100">
        <!-- only list for cases and automods -->
        <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)">
            <mat-tab *ngFor="let ord of orders; let i = index">
                <ng-template mat-tab-label>
                    <mat-icon class="me-1">{{ icons[i] }}</mat-icon>
                    <span>{{ord | uppercase }}</span>
                </ng-template>
                <ng-template matTabContent>
                    <app-leaderboard-ranking [style]="'--theme: #' + themes[i]" [order]="ord"></app-leaderboard-ranking>
                </ng-template>
            </mat-tab>
            <!-- dash board optional tab? -->
        </mat-tab-group>
    </div>
</div>
