<div *ngIf="userLevel" class="container">
  <img
      src="{{ userLevel.user?.imageUrl }}"
      class="pfp me-2"
      alt="avatar image"
      onerror="this.src='/assets/img/default_profile.png';"
  />
  <div class="rank me-2"><span [style.color]="rankColor()">{{index+1}}</span></div>
  <div class="name me-4" *ngIf="userLevel.user">{{userLevel.user.username}}#{{userLevel.user.discriminator}}</div>
  <div class="name me-4" *ngIf="!userLevel.user">Unkown User {{userLevel.userId}}</div>
  <div class="side-right">
    <div class="xp me-2">{{record.xp | unitFormat}} XP</div>
    <div class="xpbar-container">
      <div class="xpbar-inner"></div>
      <div class="xpbar-text">{{record.level}}</div>
      <div class="xpbar-circle">
        <div class="xpbar xpbar-left">
          <div class="progress" [style.transform]="'rotate('+calcLeftRot()+'deg)'"></div>
        </div>
        <div class="xpbar xpbar-right">
          <div class="progress" [style.transform]="'rotate('+calcRightRot()+'deg)'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
